# Seasonal Sales of Chocolates

**Loading csv files**

In [1]:
CHOC <- read.csv("data/DATA_4.04_CHOC.csv")
head(CHOC)

  time sales     year month
1 1    135.48187 2000 01_January
2 2    281.75873 2000 02_February
3 3    170.80064 2000 03_March
4 4    171.09512 2000 04_April
5 5    179.02492 2000 05_May
6 6     55.16525 2000 06_June

**Exploring the "CHOC" Data**

In [4]:
str(CHOC)

'data.frame':	120 obs. of  4 variables:
 $ time : int  1 2 3 4 5 6 7 8 9 10 ...
 $ sales: num  135 282 171 171 179 ...
 $ year : int  2000 2000 2000 2000 2000 2000 2000 2000 2000 2000 ...
 $ month: Factor w/ 12 levels "01_January","02_February",..: 1 2 3 4 5 6 7 8 9 10 ...

In [5]:
summary(CHOC)

      time            sales              year              month
 Min.   :  1.00   Min.   :  36.85   Min.   :2000   01_January :10
 1st Qu.: 30.75   1st Qu.:  82.88   1st Qu.:2002   02_February:10
 Median : 60.50   Median : 163.04   Median :2004   03_March   :10
 Mean   : 60.50   Mean   : 216.70   Mean   :2004   04_April   :10
 3rd Qu.: 90.25   3rd Qu.: 221.33   3rd Qu.:2007   05_May     :10
 Max.   :120.00   Max.   :1068.62   Max.   :2009   06_June    :10
                                                   (Other)    :60

There is about 10 years of monthly sales data. On average, 216 units were sold monthly.

### Data Visualization